.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;

  ul {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-right: 3rem;
    list-style: none;

    li {
        margin-top: 1rem;

        a {
            color: #fff;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: #2b1191;
            }
        }
    }
  }

  button {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 50px;
  }
}
