.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;

  ul {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-right: 3rem;
    list-style: none;

    li {
        margin-top: 3rem;

        a {
            color: #fff;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: #2b1191;
            }
        }

        &.sites {
          a {
            color: #df573c ;
          }
        }
      }
    
  }

}
