<div class="main">
    
    <ul>
        <li><a (click)="scrollToSection('aboutMe')">Vida acadêmica</a></li>
        <li><a (click)="scrollToSection('skills')">Habilidades</a></li>
        <li><a (click)="scrollToSection('experience')">Vida profissional</a></li>
        <li class="last-li"><a (click)="scrollToSection('projects')">Projetos</a></li>
        <li class="sites"><a href="https://www.linkedin.com/in/mariana-heissig/" target="_blank">LinkedIn</a></li>
        <li class="sites"><a href="https://github.com/marianaheissig" target="_blank">GitHub</a></li>

    </ul>
    <div class="last-button">
        <!-- <button (click)="openPdf()">Baixar CV</button> -->
    </div>
</div>