<div class="main">
  <navbar />

  <div class="first-section">
    <div class="texts">
      <h1>Olá, eu sou a <span class="highlight">Mariana</span></h1>
      <p>Desenvolvedora Frontend</p>
      <p class="desc">
        Meu objetivo é atuar como Desenvolvedora Frontend, utilizando minhas
        habilidades em Angular, Firebase e TypeScript para agregar valor a
        projetos inovadores. Desejo enfrentar desafios e evoluir
        profissionalmente em colaboração com equipes experientes.
      </p>
      <button>Leia mais sobre mim</button>
    </div>
    <div class="img">
      <img src="../../../assets/imgs/teste.png" alt="" srcset="" />
    </div>
  </div>

  <div class="second-section" id="aboutMe">
    <div class="title">
      <h2>Vida acadêmica</h2>
    </div>

    <cards 
      [photoUrl]="'../../../assets/imgs/about.png'" 
      [title]="'Etec de Guarulhos'" 
      [subtitle]="'2020 - 2022'"
      [text]="'  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ducimus vero sint illum culpa est quia? Dolore non eum possimus debitis necessitatibus maxime, quo iste porro odit! Qui, rerum enim.'" 
      [imagePosition]="'left'"
      >
      
    </cards>


    <cards 
      [photoUrl]="'../../../assets/imgs/about2.png'" 
      [title]="'Universidade Cruzeiro do Sul'" 
      [subtitle]="'2024 - 2026'"
      [text]="'  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ducimus vero sint illum culpa est quia? Dolore non eum possimus debitis necessitatibus maxime, quo iste porro odit! Qui, rerum enim.'" 
      [imagePosition]="'right'"
      >
    </cards>
  </div>

  <div class="third-section" id="skills">
    <div class="title">
      <h2>Habilidades</h2>
    </div>

    <div class="skills" >
      @for(skill of skills; track skill) {
        <div class="skill">
          <div class="skill-infos">
            <p class="title">{{ skill.name }}</p>
            <img [src]="skill.icon" alt="" class="skill-icon" />
            <p class="level">{{ skill.level }}</p>
            <p class="time">{{ skill.time }} anos</p>
          </div>
        
          <div class="skill-details">
            <p class="title">{{ skill.name }}</p>
            <ul>
              <li>Nivel: <span>{{ skill.level }}</span></li>
              <li>Tempo de experiencia: <span>{{ skill.time }} anos</span></li>
              <li>Experiencia: <span>{{skill.experience}}</span></li>
            </ul>
          </div>
        </div>
      }
    </div>
  </div>

  <div class="fourth-section">
    <div class="title">
      <h2>Experiência profissional</h2>
    </div>
      <cards 
        [photoUrl]="'../../../assets/imgs/finger-logo.png'" 
        [title]="'Finger Digital'" 
        [subtitle]="'08/2023 - 02/2025'"
        [text]="'  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ducimus vero sint illum culpa est quia? Dolore non eum possimus debitis necessitatibus maxime, quo iste porro odit! Qui, rerum enim.'" 
        [imagePosition]="'left'"
      >
      </cards>

   
  
   
  </div>
</div>
