@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  margin: 0;
}

html, body { 
  height: 100%;
 }

body {margin: 0; font-family: "Inter", sans-serif;}

button {
  color: white;
  background-color: #2b1191;
  border: none;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: #1b0b5c;
  }
}