.place {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 12rem;
    padding-left: 12rem;
    gap: 1rem;
    margin-bottom: 5rem;

    &.left {flex-direction: row;}
    &.right {flex-direction: row-reverse;}

    .subtitle {
        font-size: 1rem;
        font-family: "Space Mono", serif;
        font-weight: 600;
      }

    .desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      width: 100%;
      font-size: 1rem;
      background-color: #1b0b5c;
      border-radius: 5rem;
      padding: 2rem;
      
      .title {
        font-size: 2rem;
        font-family: "Space Mono", serif;
        font-weight: 600;
        border-bottom: 1px dashed white;
        margin-bottom: 1rem;
        margin-top: 0px;
      }

      p {
        width: 60rem;
      }
    }
  }